<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This will serve as a basic chat application">
    <meta name="author" content="Prabandham Srindhi">

    <title>Chatroom</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <center>
          <h1 class='text-success'> Basic Chat room </h4>
        </center>
        <%= if logged_in?(@conn) do %>
          <li><%= current_user(@conn).email %></li>
          <li><%= link "Logout", to: sessions_path(@conn, :delete), method: :delete %></li>
        <% else %>
          <li><%= link "Login",    to: "/login" %></li>
          <li><%= link "Register", to: registrations_path(@conn, :new) %></li>
        <% end %>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
